//universal selector
*
  margin: 0
  padding: 0
  box-sizing: border-box
//SASS custom properties
//https://designwizard.com/blog/design-trends/colour-combination/
//Deep Blue (#2460A7FF), Northern Sky (#85B3D1FF), Baby Blue (#B3C7D6FF) and Coffee (#D9B48FFF)
// $font-family_one:
// $font-family_two:
// $font-family_three:
$bg_color_one:#85B3D1FF
$bg_color_two:linear-gradient(76deg, #D9B48FFF 34%, #B3C7D6FF 49%, #D9B48FFF 64%) no-repeat
// $bg_color_three:
$font_color_one:#D9B48FFF
$font_color_two:#2460A7FF
// $font_color_three:


//tag
body
  padding: 1.2500em
  background: $bg_color_two
  background-size: contain
li
  color: $font_color_two
li:hover
  opacity: 0.5
li:active
  opacity: 0.5
  text-shadow: 0px 0px 10px 10px white

ul 
  list-style-image: url('img/mini_rotating_skull_bulletpoint.png')

details[open]
  position: absolute
  z-index: 2

details
  float: left
summary
   list-style: none
summary:hover
  opacity: 0.5
//classes
.disc
  width: min(100%, 400px)
  height: min(100%, 400px)
  margin: auto
  display: block
  position: relative
  animation: rotate 10s linear infinite
  border-radius: 1000px
  animation-play-state: paused

.main_container_disc.play .disc
  animation-play-state: running



.main_container_disc
  position: relative
  background-image: linear-gradient(76deg, rgba(95,112,190,0.5887171713153967) 34%, rgba(204,139,224,0.9454587443491046) 49%, rgba(112,222,191,0.6420879578322507) 64%)
  border-radius: 1000px
  width: min(100%, 400px)
  height: min(100%, 400px)
  margin: auto
  border: lightgrey 3px solid
  z-index: -2

.main_container_disc::before
  content:" "
  background-color: white
  border-radius: 1000px
  width: min(15%, 200px)
  height: min(15%, 200px)
  position: absolute
  left: 50%
  top: 50% 
  transform: translate(-50%, -50%)

// .main_container_disc::after
//   content: "title"

  width: min(15%, 200px)

  
.title
  text-align: center
  border: 5px solid black
  width: min(50%, 500px)
  margin: auto 


.main_listing
  border: black solid 1px
  width: min(70%, 800px)
  padding: 2em
  overflow: scroll
  height: 200px
  background: $bg_color_one
  border: 5px solid brown 

.progress-container 
  background: #fff
  border-radius: 5px
  cursor: pointer
  margin: auto
  height: 4px
  width: min(70%, 400px)


.progress 
  background-color: #5943fb
  border-radius: 5px
  height: 100%
  width: 0%
  transition: width 0.1s linear



.main_controller
  margin: auto
  width: min(90%, 400px)
  background-image: url(img/wood_pattern.jpg)
  border-radius: 1.2500em
  box-shadow: 10px 10px 10px
  display: flex
  flex-direction: row
  justify-content: space-around
  

.main_controller>.control
  filter: invert(8%) sepia(85%) saturate(382%) hue-rotate(352deg) brightness(92%) contrast(98%)

.main_controller>.control:hover
  filter: invert(27%) sepia(18%) saturate(1968%) hue-rotate(343deg) brightness(104%) contrast(90%)

//utility class
.-marginbottom_20px
  margin-bottom: 1.2500em
.-midwidth_visible
  display: none
.-center
  text-align: center
.-float_left
  float: right

@keyframes rotate 
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)


//id 
#play
  animation: rotate 10s linear infinite
  animation-play-state: paused
.main_controller.play>#play
  animation-play-state: running

