.events {
  height: 90vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  // margin: 2rem 0;

  .events-content {
    margin: 2rem;
    background-color: rgb(244, 214, 214);
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    font-family: var(--Poppins);
    border-radius: 10px;
    box-shadow: 1px 6px 20px 6px #c2b0b0;

    img {
      width: 50%;
    }
    h4 {
      width: 70%;
      margin: 0.5rem 0;
    }
    &:hover {
      box-shadow: 1px 6px 20px 6px #888888;
      transition: 0.3s all ease-in-out;
    }
  }
}
